

html,
body {
  height: 100%;
  background-color: #333;
}

nav {
  padding-right: 3.25em;
}

.form-group {
  padding-left: 3.25em;
}

.social {
  padding-left: 4.25em;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0; }

.jumbotron {
  margin-left: 3.25em;
  margin-right: 3.25em;
}

